#red {
	color: #e06c75;
	font-style: bold;
}

#green {
	color: #98c379;
	font-style: italic;
}

#cyan {
	color: #56b6c2;
	font-style: italic;
}

#yellow {
	color: #e5c07b;
	text-decoration: underline;
}
